@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.gradient {
  /* background: linear-gradient(90deg, #0f172a 0%, #1c2c5066 70%); */
  background: #0f172a;
}

#navList {
  background-color: #0f172a;
  background-image: linear-gradient(
      90deg,
      transparent 24%,
      #1c2c5066 25%,
      #1c2c5066 26%,
      transparent 27%,
      transparent 74%,
      #1c2c5066 75%,
      #1c2c5066 76%,
      transparent 77%
    ),
    linear-gradient(
      0deg,
      transparent 24%,
      #1c2c5066 25%,
      #1c2c5066 26%,
      transparent 27%,
      transparent 74%,
      #1c2c5066 75%,
      #1c2c5066 76%,
      transparent 77%
    );
  background-size: 30px 30px;
  animation: square-move 10s infinite linear;
}
